
<div class="jumbotron">

	  <img src="/assets/user.jpg" class="img-responsive" alt="Responsive image" align="left">
	  <div class="profile-info">
	  <h2>Ella Huynh</h2>
	  <p>Favourite Restaurant: Mcdonalds</p>
	  <P>Points: 2913</P>
	  </div>


    <ul class="nav nav-tabs nav-justified tab-navigation" id="myTab">
	  <li class="active"><a href="#calendar" data-toggle="tab">Calendar</a></li>
	  <li><a href="#photos" data-toggle="tab">My Photos</a></li>
	  <li><a href="#reviews" data-toggle="tab">My Reviews</a></li>
	  <li><a href="#events" data-toggle="tab">My Events</a></li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="calendar">...2</div>
	  <div class="tab-pane" id="photos">...2</div>
	  <div class="tab-pane" id="reviews">...3</div>
	  <div class="tab-pane" id="events">...4</div>
	</div>
</div>
