<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Startup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
 <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">CalTogether</a>
  </div>
  <ul class="nav navbar-nav">
  <% if !@navbar%>
  <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
   <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Reviews</a></li>
   <li><a href="#"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
   <li><a href="#"><span class="glyphicon glyphicon-user"></span> Friends</a></li>
  </ul>
  <% end %>
</nav>
<div class="container ">
<%= yield %>
</div>

</body>
</html>
